src/main/resources/xsd/test.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.praca_magister/soap_vs_rest/test.com"
           targetNamespace="https://www.praca_magister/soap_vs_rest/test.com" elementFormDefault="qualified">



    <xs:element name="TestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="field1"  type="xs:string"/>
                <xs:element name="field2"  type="xs:string"/>
                <xs:element name="field3"  type="xs:string"/>
                <xs:element name="field4"  type="xs:string"/>
                <xs:element name="field5"  type="xs:string"/>
                <xs:element name="field6"  type="xs:string"/>
                <xs:element name="field7"  type="xs:string"/>
                <xs:element name="field8"  type="xs:string"/>
                <xs:element name="field9"  type="xs:string"/>
                <xs:element name="field10"  type="xs:string"/>
                <xs:element name="field11"  type="xs:string"/>
                <xs:element name="field12"  type="xs:string"/>
                <xs:element name="field13"  type="xs:string"/>
                <xs:element name="field14"  type="xs:string"/>
                <xs:element name="field15"  type="xs:string"/>
                <xs:element name="field16"  type="xs:string"/>
                <xs:element name="field17"  type="xs:string"/>
                <xs:element name="field18"  type="xs:string"/>
                <xs:element name="field19"  type="xs:string"/>
                <xs:element name="field20"  type="xs:string"/>
                <xs:element name="field21"  type="xs:string"/>
                <xs:element name="field22"  type="xs:string"/>
                <xs:element name="field23"  type="xs:string"/>
                <xs:element name="field24"  type="xs:string"/>
                <xs:element name="field25"  type="xs:string"/>
                <xs:element name="field26"  type="xs:string"/>
                <xs:element name="field27"  type="xs:string"/>
                <xs:element name="field28"  type="xs:string"/>
                <xs:element name="field29"  type="xs:string"/>
                <xs:element name="field30"  type="xs:string"/>
                <xs:element name="field31"  type="xs:string"/>
                <xs:element name="field32"  type="xs:string"/>
                <xs:element name="field33"  type="xs:string"/>
                <xs:element name="field34"  type="xs:string"/>
                <xs:element name="field35"  type="xs:string"/>
                <xs:element name="field36"  type="xs:string"/>
                <xs:element name="field37"  type="xs:string"/>
                <xs:element name="field38"  type="xs:string"/>
                <xs:element name="field39"  type="xs:string"/>
                <xs:element name="field40"  type="xs:string"/>
                <xs:element name="field41"  type="xs:string"/>
                <xs:element name="field42"  type="xs:string"/>
                <xs:element name="field43"  type="xs:string"/>
                <xs:element name="field44"  type="xs:string"/>
                <xs:element name="field45"  type="xs:string"/>
                <xs:element name="field46"  type="xs:string"/>
                <xs:element name="field47"  type="xs:string"/>
                <xs:element name="field48"  type="xs:string"/>
                <xs:element name="field49"  type="xs:string"/>
                <xs:element name="field50"  type="xs:string"/>
                <xs:element name="field51"  type="xs:string"/>
                <xs:element name="field52"  type="xs:string"/>
                <xs:element name="field53"  type="xs:string"/>
                <xs:element name="field54"  type="xs:string"/>
                <xs:element name="field55"  type="xs:string"/>
                <xs:element name="field56"  type="xs:string"/>
                <xs:element name="field57"  type="xs:string"/>
                <xs:element name="field58"  type="xs:string"/>
                <xs:element name="field59"  type="xs:string"/>
                <xs:element name="field60"  type="xs:string"/>
                <xs:element name="field61"  type="xs:string"/>
                <xs:element name="field62"  type="xs:string"/>
                <xs:element name="field63"  type="xs:string"/>
                <xs:element name="field64"  type="xs:string"/>
                <xs:element name="field65"  type="xs:string"/>
                <xs:element name="field66"  type="xs:string"/>
                <xs:element name="field67"  type="xs:string"/>
                <xs:element name="field68"  type="xs:string"/>
                <xs:element name="field69"  type="xs:string"/>
                <xs:element name="field70"  type="xs:string"/>
                <xs:element name="field71"  type="xs:string"/>
                <xs:element name="field72"  type="xs:string"/>
                <xs:element name="field73"  type="xs:string"/>
                <xs:element name="field74"  type="xs:string"/>
                <xs:element name="field75"  type="xs:string"/>
                <xs:element name="field76"  type="xs:string"/>
                <xs:element name="field77"  type="xs:string"/>
                <xs:element name="field78"  type="xs:string"/>
                <xs:element name="field79"  type="xs:string"/>
                <xs:element name="field80"  type="xs:string"/>
                <xs:element name="field81"  type="xs:string"/>
                <xs:element name="field82"  type="xs:string"/>
                <xs:element name="field83"  type="xs:string"/>
                <xs:element name="field84"  type="xs:string"/>
                <xs:element name="field85"  type="xs:string"/>
                <xs:element name="field86"  type="xs:string"/>
                <xs:element name="field87"  type="xs:string"/>
                <xs:element name="field88"  type="xs:string"/>
                <xs:element name="field89"  type="xs:string"/>
                <xs:element name="field90"  type="xs:string"/>
                <xs:element name="field91"  type="xs:string"/>
                <xs:element name="field92"  type="xs:string"/>
                <xs:element name="field93"  type="xs:string"/>
                <xs:element name="field94"  type="xs:string"/>
                <xs:element name="field95"  type="xs:string"/>
                <xs:element name="field96"  type="xs:string"/>
                <xs:element name="field97"  type="xs:string"/>
                <xs:element name="field98"  type="xs:string"/>
                <xs:element name="field99"  type="xs:string"/>
                <xs:element name="field100"  type="xs:string"/>
                <xs:element name="field101"  type="xs:string"/>
                <xs:element name="field102"  type="xs:string"/>
                <xs:element name="field103"  type="xs:string"/>
                <xs:element name="field104"  type="xs:string"/>
                <xs:element name="field105"  type="xs:string"/>
                <xs:element name="field106"  type="xs:string"/>
                <xs:element name="field107"  type="xs:string"/>
                <xs:element name="field108"  type="xs:string"/>
                <xs:element name="field109"  type="xs:string"/>
                <xs:element name="field110"  type="xs:string"/>
                <xs:element name="field111"  type="xs:string"/>
                <xs:element name="field112"  type="xs:string"/>
                <xs:element name="field113"  type="xs:string"/>
                <xs:element name="field114"  type="xs:string"/>
                <xs:element name="field115"  type="xs:string"/>
                <xs:element name="field116"  type="xs:string"/>
                <xs:element name="field117"  type="xs:string"/>
                <xs:element name="field118"  type="xs:string"/>
                <xs:element name="field119"  type="xs:string"/>
                <xs:element name="field120"  type="xs:string"/>
                <xs:element name="field121"  type="xs:string"/>
                <xs:element name="field122"  type="xs:string"/>
                <xs:element name="field123"  type="xs:string"/>
                <xs:element name="field124"  type="xs:string"/>
                <xs:element name="field125"  type="xs:string"/>
                <xs:element name="field126"  type="xs:string"/>
                <xs:element name="field127"  type="xs:string"/>
                <xs:element name="field128"  type="xs:string"/>
                <xs:element name="field129"  type="xs:string"/>
                <xs:element name="field130"  type="xs:string"/>
                <xs:element name="field131"  type="xs:string"/>
                <xs:element name="field132"  type="xs:string"/>
                <xs:element name="field133"  type="xs:string"/>
                <xs:element name="field134"  type="xs:string"/>
                <xs:element name="field135"  type="xs:string"/>
                <xs:element name="field136"  type="xs:string"/>
                <xs:element name="field137"  type="xs:string"/>
                <xs:element name="field138"  type="xs:string"/>
                <xs:element name="field139"  type="xs:string"/>
                <xs:element name="field140"  type="xs:string"/>
                <xs:element name="field141"  type="xs:string"/>
                <xs:element name="field142"  type="xs:string"/>
                <xs:element name="field143"  type="xs:string"/>
                <xs:element name="field144"  type="xs:string"/>
                <xs:element name="field145"  type="xs:string"/>
                <xs:element name="field146"  type="xs:string"/>
                <xs:element name="field147"  type="xs:string"/>
                <xs:element name="field148"  type="xs:string"/>
                <xs:element name="field149"  type="xs:string"/>
                <xs:element name="field150"  type="xs:string"/>
                <xs:element name="field151"  type="xs:string"/>
                <xs:element name="field152"  type="xs:string"/>
                <xs:element name="field153"  type="xs:string"/>
                <xs:element name="field154"  type="xs:string"/>
                <xs:element name="field155"  type="xs:string"/>
                <xs:element name="field156"  type="xs:string"/>
                <xs:element name="field157"  type="xs:string"/>
                <xs:element name="field158"  type="xs:string"/>
                <xs:element name="field159"  type="xs:string"/>
                <xs:element name="field160"  type="xs:string"/>
                <xs:element name="field161"  type="xs:string"/>
                <xs:element name="field162"  type="xs:string"/>
                <xs:element name="field163"  type="xs:string"/>
                <xs:element name="field164"  type="xs:string"/>
                <xs:element name="field165"  type="xs:string"/>
                <xs:element name="field166"  type="xs:string"/>
                <xs:element name="field167"  type="xs:string"/>
                <xs:element name="field168"  type="xs:string"/>
                <xs:element name="field169"  type="xs:string"/>
                <xs:element name="field170"  type="xs:string"/>
                <xs:element name="field171"  type="xs:string"/>
                <xs:element name="field172"  type="xs:string"/>
                <xs:element name="field173"  type="xs:string"/>
                <xs:element name="field174"  type="xs:string"/>
                <xs:element name="field175"  type="xs:string"/>
                <xs:element name="field176"  type="xs:string"/>
                <xs:element name="field177"  type="xs:string"/>
                <xs:element name="field178"  type="xs:string"/>
                <xs:element name="field179"  type="xs:string"/>
                <xs:element name="field180"  type="xs:string"/>
                <xs:element name="field181"  type="xs:string"/>
                <xs:element name="field182"  type="xs:string"/>
                <xs:element name="field183"  type="xs:string"/>
                <xs:element name="field184"  type="xs:string"/>
                <xs:element name="field185"  type="xs:string"/>
                <xs:element name="field186"  type="xs:string"/>
                <xs:element name="field187"  type="xs:string"/>
                <xs:element name="field188"  type="xs:string"/>
                <xs:element name="field189"  type="xs:string"/>
                <xs:element name="field190"  type="xs:string"/>
                <xs:element name="field191"  type="xs:string"/>
                <xs:element name="field192"  type="xs:string"/>
                <xs:element name="field193"  type="xs:string"/>
                <xs:element name="field194"  type="xs:string"/>
                <xs:element name="field195"  type="xs:string"/>
                <xs:element name="field196"  type="xs:string"/>
                <xs:element name="field197"  type="xs:string"/>
                <xs:element name="field198"  type="xs:string"/>
                <xs:element name="field199"  type="xs:string"/>
                <xs:element name="field200"  type="xs:string"/>
                <xs:element name="field201"  type="xs:string"/>
                <xs:element name="field202"  type="xs:string"/>
                <xs:element name="field203"  type="xs:string"/>
                <xs:element name="field204"  type="xs:string"/>
                <xs:element name="field205"  type="xs:string"/>
                <xs:element name="field206"  type="xs:string"/>
                <xs:element name="field207"  type="xs:string"/>
                <xs:element name="field208"  type="xs:string"/>
                <xs:element name="field209"  type="xs:string"/>
                <xs:element name="field210"  type="xs:string"/>
                <xs:element name="field211"  type="xs:string"/>
                <xs:element name="field212"  type="xs:string"/>
                <xs:element name="field213"  type="xs:string"/>
                <xs:element name="field214"  type="xs:string"/>
                <xs:element name="field215"  type="xs:string"/>
                <xs:element name="field216"  type="xs:string"/>
                <xs:element name="field217"  type="xs:string"/>
                <xs:element name="field218"  type="xs:string"/>
                <xs:element name="field219"  type="xs:string"/>
                <xs:element name="field220"  type="xs:string"/>
                <xs:element name="field221"  type="xs:string"/>
                <xs:element name="field222"  type="xs:string"/>
                <xs:element name="field223"  type="xs:string"/>
                <xs:element name="field224"  type="xs:string"/>
                <xs:element name="field225"  type="xs:string"/>
                <xs:element name="field226"  type="xs:string"/>
                <xs:element name="field227"  type="xs:string"/>
                <xs:element name="field228"  type="xs:string"/>
                <xs:element name="field229"  type="xs:string"/>
                <xs:element name="field230"  type="xs:string"/>
                <xs:element name="field231"  type="xs:string"/>
                <xs:element name="field232"  type="xs:string"/>
                <xs:element name="field233"  type="xs:string"/>
                <xs:element name="field234"  type="xs:string"/>
                <xs:element name="field235"  type="xs:string"/>
                <xs:element name="field236"  type="xs:string"/>
                <xs:element name="field237"  type="xs:string"/>
                <xs:element name="field238"  type="xs:string"/>
                <xs:element name="field239"  type="xs:string"/>
                <xs:element name="field240"  type="xs:string"/>
                <xs:element name="field241"  type="xs:string"/>
                <xs:element name="field242"  type="xs:string"/>
                <xs:element name="field243"  type="xs:string"/>
                <xs:element name="field244"  type="xs:string"/>
                <xs:element name="field245"  type="xs:string"/>
                <xs:element name="field246"  type="xs:string"/>
                <xs:element name="field247"  type="xs:string"/>
                <xs:element name="field248"  type="xs:string"/>
                <xs:element name="field249"  type="xs:string"/>
                <xs:element name="field250"  type="xs:string"/>
                <xs:element name="field251"  type="xs:string"/>
                <xs:element name="field252"  type="xs:string"/>
                <xs:element name="field253"  type="xs:string"/>
                <xs:element name="field254"  type="xs:string"/>
                <xs:element name="field255"  type="xs:string"/>
                <xs:element name="field256"  type="xs:string"/>
                <xs:element name="field257"  type="xs:string"/>
                <xs:element name="field258"  type="xs:string"/>
                <xs:element name="field259"  type="xs:string"/>
                <xs:element name="field260"  type="xs:string"/>
                <xs:element name="field261"  type="xs:string"/>
                <xs:element name="field262"  type="xs:string"/>
                <xs:element name="field263"  type="xs:string"/>
                <xs:element name="field264"  type="xs:string"/>
                <xs:element name="field265"  type="xs:string"/>
                <xs:element name="field266"  type="xs:string"/>
                <xs:element name="field267"  type="xs:string"/>
                <xs:element name="field268"  type="xs:string"/>
                <xs:element name="field269"  type="xs:string"/>
                <xs:element name="field270"  type="xs:string"/>
                <xs:element name="field271"  type="xs:string"/>
                <xs:element name="field272"  type="xs:string"/>
                <xs:element name="field273"  type="xs:string"/>
                <xs:element name="field274"  type="xs:string"/>
                <xs:element name="field275"  type="xs:string"/>
                <xs:element name="field276"  type="xs:string"/>
                <xs:element name="field277"  type="xs:string"/>
                <xs:element name="field278"  type="xs:string"/>
                <xs:element name="field279"  type="xs:string"/>
                <xs:element name="field280"  type="xs:string"/>
                <xs:element name="field281"  type="xs:string"/>
                <xs:element name="field282"  type="xs:string"/>
                <xs:element name="field283"  type="xs:string"/>
                <xs:element name="field284"  type="xs:string"/>
                <xs:element name="field285"  type="xs:string"/>
                <xs:element name="field286"  type="xs:string"/>
                <xs:element name="field287"  type="xs:string"/>
                <xs:element name="field288"  type="xs:string"/>
                <xs:element name="field289"  type="xs:string"/>
                <xs:element name="field290"  type="xs:string"/>
                <xs:element name="field291"  type="xs:string"/>
                <xs:element name="field292"  type="xs:string"/>
                <xs:element name="field293"  type="xs:string"/>
                <xs:element name="field294"  type="xs:string"/>
                <xs:element name="field295"  type="xs:string"/>
                <xs:element name="field296"  type="xs:string"/>
                <xs:element name="field297"  type="xs:string"/>
                <xs:element name="field298"  type="xs:string"/>
                <xs:element name="field299"  type="xs:string"/>
                <xs:element name="field300"  type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



</xs:schema>