src/main/resources/xsd/test.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.praca_magister/soap_vs_rest/test.com"
           targetNamespace="https://www.praca_magister/soap_vs_rest/test.com" elementFormDefault="qualified">



    <xs:element name="TestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="field1"  type="xs:string"/>
                <xs:element name="field2"  type="xs:string"/>
                <xs:element name="field3"  type="xs:string"/>
                <xs:element name="field4"  type="xs:string"/>
                <xs:element name="field5"  type="xs:string"/>
                <xs:element name="field6"  type="xs:string"/>
                <xs:element name="field7"  type="xs:string"/>
                <xs:element name="field8"  type="xs:string"/>
                <xs:element name="field9"  type="xs:string"/>
                <xs:element name="field10"  type="xs:string"/>
                <xs:element name="field11"  type="xs:string"/>
                <xs:element name="field12"  type="xs:string"/>
                <xs:element name="field13"  type="xs:string"/>
                <xs:element name="field14"  type="xs:string"/>
                <xs:element name="field15"  type="xs:string"/>
                <xs:element name="field16"  type="xs:string"/>
                <xs:element name="field17"  type="xs:string"/>
                <xs:element name="field18"  type="xs:string"/>
                <xs:element name="field19"  type="xs:string"/>
                <xs:element name="field20"  type="xs:string"/>
                <xs:element name="field21"  type="xs:string"/>
                <xs:element name="field22"  type="xs:string"/>
                <xs:element name="field23"  type="xs:string"/>
                <xs:element name="field24"  type="xs:string"/>
                <xs:element name="field25"  type="xs:string"/>
                <xs:element name="field26"  type="xs:string"/>
                <xs:element name="field27"  type="xs:string"/>
                <xs:element name="field28"  type="xs:string"/>
                <xs:element name="field29"  type="xs:string"/>
                <xs:element name="field30"  type="xs:string"/>
                <xs:element name="field31"  type="xs:string"/>
                <xs:element name="field32"  type="xs:string"/>
                <xs:element name="field33"  type="xs:string"/>
                <xs:element name="field34"  type="xs:string"/>
                <xs:element name="field35"  type="xs:string"/>
                <xs:element name="field36"  type="xs:string"/>
                <xs:element name="field37"  type="xs:string"/>
                <xs:element name="field38"  type="xs:string"/>
                <xs:element name="field39"  type="xs:string"/>
                <xs:element name="field40"  type="xs:string"/>
                <xs:element name="field41"  type="xs:string"/>
                <xs:element name="field42"  type="xs:string"/>
                <xs:element name="field43"  type="xs:string"/>
                <xs:element name="field44"  type="xs:string"/>
                <xs:element name="field45"  type="xs:string"/>
                <xs:element name="field46"  type="xs:string"/>
                <xs:element name="field47"  type="xs:string"/>
                <xs:element name="field48"  type="xs:string"/>
                <xs:element name="field49"  type="xs:string"/>
                <xs:element name="field50"  type="xs:string"/>
                <xs:element name="field51"  type="xs:string"/>
                <xs:element name="field52"  type="xs:string"/>
                <xs:element name="field53"  type="xs:string"/>
                <xs:element name="field54"  type="xs:string"/>
                <xs:element name="field55"  type="xs:string"/>
                <xs:element name="field56"  type="xs:string"/>
                <xs:element name="field57"  type="xs:string"/>
                <xs:element name="field58"  type="xs:string"/>
                <xs:element name="field59"  type="xs:string"/>
                <xs:element name="field60"  type="xs:string"/>
                <xs:element name="field61"  type="xs:string"/>
                <xs:element name="field62"  type="xs:string"/>
                <xs:element name="field63"  type="xs:string"/>
                <xs:element name="field64"  type="xs:string"/>
                <xs:element name="field65"  type="xs:string"/>
                <xs:element name="field66"  type="xs:string"/>
                <xs:element name="field67"  type="xs:string"/>
                <xs:element name="field68"  type="xs:string"/>
                <xs:element name="field69"  type="xs:string"/>
                <xs:element name="field70"  type="xs:string"/>
                <xs:element name="field71"  type="xs:string"/>
                <xs:element name="field72"  type="xs:string"/>
                <xs:element name="field73"  type="xs:string"/>
                <xs:element name="field74"  type="xs:string"/>
                <xs:element name="field75"  type="xs:string"/>
                <xs:element name="field76"  type="xs:string"/>
                <xs:element name="field77"  type="xs:string"/>
                <xs:element name="field78"  type="xs:string"/>
                <xs:element name="field79"  type="xs:string"/>
                <xs:element name="field80"  type="xs:string"/>
                <xs:element name="field81"  type="xs:string"/>
                <xs:element name="field82"  type="xs:string"/>
                <xs:element name="field83"  type="xs:string"/>
                <xs:element name="field84"  type="xs:string"/>
                <xs:element name="field85"  type="xs:string"/>
                <xs:element name="field86"  type="xs:string"/>
                <xs:element name="field87"  type="xs:string"/>
                <xs:element name="field88"  type="xs:string"/>
                <xs:element name="field89"  type="xs:string"/>
                <xs:element name="field90"  type="xs:string"/>
                <xs:element name="field91"  type="xs:string"/>
                <xs:element name="field92"  type="xs:string"/>
                <xs:element name="field93"  type="xs:string"/>
                <xs:element name="field94"  type="xs:string"/>
                <xs:element name="field95"  type="xs:string"/>
                <xs:element name="field96"  type="xs:string"/>
                <xs:element name="field97"  type="xs:string"/>
                <xs:element name="field98"  type="xs:string"/>
                <xs:element name="field99"  type="xs:string"/>
                <xs:element name="field100"  type="xs:string"/>
                <xs:element name="list1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="list2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="testOtherObject1" type="tns:TestOtherObject1"/>
                <xs:element name="testOtherObject2" type="tns:TestOtherObject2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="TestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="field1"  type="xs:string"/>
                <xs:element name="field2"  type="xs:string"/>
                <xs:element name="field3"  type="xs:string"/>
                <xs:element name="field4"  type="xs:string"/>
                <xs:element name="field5"  type="xs:string"/>
                <xs:element name="field6"  type="xs:string"/>
                <xs:element name="field7"  type="xs:string"/>
                <xs:element name="field8"  type="xs:string"/>
                <xs:element name="field9"  type="xs:string"/>
                <xs:element name="field10"  type="xs:string"/>
                <xs:element name="field11"  type="xs:string"/>
                <xs:element name="field12"  type="xs:string"/>
                <xs:element name="field13"  type="xs:string"/>
                <xs:element name="field14"  type="xs:string"/>
                <xs:element name="field15"  type="xs:string"/>
                <xs:element name="field16"  type="xs:string"/>
                <xs:element name="field17"  type="xs:string"/>
                <xs:element name="field18"  type="xs:string"/>
                <xs:element name="field19"  type="xs:string"/>
                <xs:element name="field20"  type="xs:string"/>
                <xs:element name="field21"  type="xs:string"/>
                <xs:element name="field22"  type="xs:string"/>
                <xs:element name="field23"  type="xs:string"/>
                <xs:element name="field24"  type="xs:string"/>
                <xs:element name="field25"  type="xs:string"/>
                <xs:element name="field26"  type="xs:string"/>
                <xs:element name="field27"  type="xs:string"/>
                <xs:element name="field28"  type="xs:string"/>
                <xs:element name="field29"  type="xs:string"/>
                <xs:element name="field30"  type="xs:string"/>
                <xs:element name="field31"  type="xs:string"/>
                <xs:element name="field32"  type="xs:string"/>
                <xs:element name="field33"  type="xs:string"/>
                <xs:element name="field34"  type="xs:string"/>
                <xs:element name="field35"  type="xs:string"/>
                <xs:element name="field36"  type="xs:string"/>
                <xs:element name="field37"  type="xs:string"/>
                <xs:element name="field38"  type="xs:string"/>
                <xs:element name="field39"  type="xs:string"/>
                <xs:element name="field40"  type="xs:string"/>
                <xs:element name="field41"  type="xs:string"/>
                <xs:element name="field42"  type="xs:string"/>
                <xs:element name="field43"  type="xs:string"/>
                <xs:element name="field44"  type="xs:string"/>
                <xs:element name="field45"  type="xs:string"/>
                <xs:element name="field46"  type="xs:string"/>
                <xs:element name="field47"  type="xs:string"/>
                <xs:element name="field48"  type="xs:string"/>
                <xs:element name="field49"  type="xs:string"/>
                <xs:element name="field50"  type="xs:string"/>
                <xs:element name="field51"  type="xs:string"/>
                <xs:element name="field52"  type="xs:string"/>
                <xs:element name="field53"  type="xs:string"/>
                <xs:element name="field54"  type="xs:string"/>
                <xs:element name="field55"  type="xs:string"/>
                <xs:element name="field56"  type="xs:string"/>
                <xs:element name="field57"  type="xs:string"/>
                <xs:element name="field58"  type="xs:string"/>
                <xs:element name="field59"  type="xs:string"/>
                <xs:element name="field60"  type="xs:string"/>
                <xs:element name="field61"  type="xs:string"/>
                <xs:element name="field62"  type="xs:string"/>
                <xs:element name="field63"  type="xs:string"/>
                <xs:element name="field64"  type="xs:string"/>
                <xs:element name="field65"  type="xs:string"/>
                <xs:element name="field66"  type="xs:string"/>
                <xs:element name="field67"  type="xs:string"/>
                <xs:element name="field68"  type="xs:string"/>
                <xs:element name="field69"  type="xs:string"/>
                <xs:element name="field70"  type="xs:string"/>
                <xs:element name="field71"  type="xs:string"/>
                <xs:element name="field72"  type="xs:string"/>
                <xs:element name="field73"  type="xs:string"/>
                <xs:element name="field74"  type="xs:string"/>
                <xs:element name="field75"  type="xs:string"/>
                <xs:element name="field76"  type="xs:string"/>
                <xs:element name="field77"  type="xs:string"/>
                <xs:element name="field78"  type="xs:string"/>
                <xs:element name="field79"  type="xs:string"/>
                <xs:element name="field80"  type="xs:string"/>
                <xs:element name="field81"  type="xs:string"/>
                <xs:element name="field82"  type="xs:string"/>
                <xs:element name="field83"  type="xs:string"/>
                <xs:element name="field84"  type="xs:string"/>
                <xs:element name="field85"  type="xs:string"/>
                <xs:element name="field86"  type="xs:string"/>
                <xs:element name="field87"  type="xs:string"/>
                <xs:element name="field88"  type="xs:string"/>
                <xs:element name="field89"  type="xs:string"/>
                <xs:element name="field90"  type="xs:string"/>
                <xs:element name="field91"  type="xs:string"/>
                <xs:element name="field92"  type="xs:string"/>
                <xs:element name="field93"  type="xs:string"/>
                <xs:element name="field94"  type="xs:string"/>
                <xs:element name="field95"  type="xs:string"/>
                <xs:element name="field96"  type="xs:string"/>
                <xs:element name="field97"  type="xs:string"/>
                <xs:element name="field98"  type="xs:string"/>
                <xs:element name="field99"  type="xs:string"/>
                <xs:element name="field100"  type="xs:string"/>
                <xs:element name="list1" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="list2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="testOtherObject1" type="tns:TestOtherObject1"/>
                <xs:element name="testOtherObject2" type="tns:TestOtherObject2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

        <xs:complexType name="TestOtherObject1">
            <xs:sequence>
                <xs:element name="testField1"  type="xs:string"/>
                <xs:element name="testField2"  type="xs:string"/>
                <xs:element name="testField3"  type="xs:string"/>
                <xs:element name="list" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>



        <xs:complexType name="TestOtherObject2">
            <xs:sequence>
                <xs:element name="testField1"  type="xs:string"/>
                <xs:element name="testField2"  type="xs:string"/>
                <xs:element name="testField3"  type="xs:string"/>
                <xs:element name="list" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>


</xs:schema>